[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pycountry = "*"
numpy = "*"
requests = "*"
tqdm = "*"
pdoc = "*"

[dev-packages]

[requires]
python_version = "3.8"
