[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pycountry = "*"
numpy = "*"
requests = "*"
tqdm = "*"
pdoc = "*"
ipykernel = "*"
pypdf2 = "*"
openai = "*"
langchain = "*"
tiktoken = "*"
faiss-cpu = "*"
azure-ai-formrecognizer = "*"
fastapi = {extras = ["all"] }
swig = "*"

[dev-packages]

[requires]
python_version = "3.11"
